.todoItem {
	text-align: left;
}

.todoTextSpan {
	font-size: 17px;
}

.todoItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todoItemRight {
	justify-content: space-between;
}

.todoItem input[type='checkbox'] {
	margin-top: 6px;
}
