.container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.todoAppContainer {
	background-color: #f9f9f9;
	margin-top: 10%;
	padding: 10px;
	border-radius: 26px;
}

.todoAppContainer h1 {
	color: #4d4d4d;
	padding-bottom: 14px;
	font-family: 'Lato', sans-serif;
}
